body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
}

.header1, .header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.certificates-section {
    margin: 20px 0;
    background-color: #e1e1e1;
    padding: 10px;
    border-radius: 6px;
}

.certificates-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.certificate-list {
    display: flex;
    flex-direction: column;
    list-style-type: square;
    padding-left: 20px;
}

ul {
    display: flex;
    text-align: center;
    gap: 8px;
}


/* edit link, list, and image properties */
a {
    text-decoration: none;
    color: white;
}   

ul {
    list-style-type: none;
}

img {
    width: 200px;
}

/*edit any text properties */
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}