body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header1, .header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    text-align: center;
    gap: 8px;
}


/* edit link, list, and image properties */
a {
    text-decoration: none;
    color: white;
}   

ul {
    list-style-type: none;
}

img {
    width: 200px;
}

/*edit any text properties */
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

/*edit any button properties */
button {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
}